---
import MainHead from '../components/MainHead.astro';
import NavBar from '../components/NavBar.astro';
---
<html lang="en">
<head>
    <MainHead title="The Garage" />
</head>
<body>
    <main>
        <h1 class="title">THE GARAGE</h1>
        <p class="subtitle">A boutique hardware &amp; software engineering shop.</p>
    </main>
    <NavBar/>
</body>
</html>

<style lang="scss">

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}

h1 {
    width: 100%;
    height: auto;
    line-height: .6;
    margin: 0;
}

.subtitle {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

</style>
