---
import MainHead from '../components/MainHead.astro';
import NavBar from '../components/NavBar.astro';
import Logo from '../components/Logo.astro';

---
<html lang="en">
<head>
    <MainHead title="The Garage" />
</head>
<body>
    <main>
        <h1 class="title">
            <!-- <span class="sr-only">The Garage</span> -->
            
            <Logo id="logo"></Logo>
            
        </h1>
        <p class="subtitle">A boutique hardware &amp; software engineering shop.</p>

        <nav>
            <NavBar></NavBar>
        </nav>
    </main>
</body>
</html>

<style lang="scss">


body {
    background-image: url('/assets/images/circuit-bg-light.svg') !important;

    @media (prefers-color-scheme: dark) {
        background-image: url('/assets/images/circuit-bg.svg') !important;
    }
}

main {
   display: grid;
   place-items: center;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(11, 1fr);
        

        column-gap: 1rem;
    }
}

.sr-only {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    display: block;
}

h1 {
    
    display: block;
    width: 100%;
    height: auto;

    line-height: 0;
    

    align-self: end;

    max-width: calc(100vw - 8rem);
    margin: 2rem auto;

    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    @media screen and (min-width: 768px) {
        grid-row: 1 / span 1;
        grid-column: 4 / span 5;
    }
}

.subtitle {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;

    @media screen and (min-width: 768px) {
        grid-row: 2 / span 1;
        grid-column: 3 / span 7;
    }

    width: 100%;

    text-align: center;
    align-self: start;

    margin-bottom: 2rem;

}

nav {
    margin-top: auto;
    grid-row: 3 / span 1;
    grid-column: 1 / -1;

    width: 100%;
}
</style>
