---
const { title = 'The Garage' } = Astro.props;
---

<meta charset="UTF-8">
<title>{title}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">

<link rel="stylesheet" href="style/utils/reset.css">

<link rel="stylesheet" href="style/vars/typography.css">
<link rel="stylesheet" href="style/vars/colors.css">

<link rel="stylesheet" href="style/global.css">
